@inject NavigationManager NavManager

<button class="btn btn-primary" @onclick="Back">
    <span class="oi oi-home" aria-hidden="true"></span>
    Home
</button>

@code {
    public void Back()
    {

    }
}
