@using Game;
<style>
    .board {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 120px);
    }
</style>
<div class="board">
    @for (int i = 0; i < 9; i++)
    {
        <ParentTile Clicked="ParentClicked"></ParentTile>
    }
</div>




@code {
    private State _currentPlayer = State.X;
    Game game { get; set; } = new Game();
    public State ParentClicked(int tileNum)
    {
        if (_currentPlayer == State.X)
        {
            _currentPlayer = State.O;
            return State.X;
        }
        _currentPlayer = State.X;
        return State.O;
    }

}
