
<style>
    .board {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(3, 100px);
    }
</style>
<div class="board">
    <ParentTile></ParentTile>
    <ParentTile></ParentTile>
    <ParentTile></ParentTile>

    <ParentTile></ParentTile>
    <ParentTile></ParentTile>
    <ParentTile></ParentTile>

    <ParentTile></ParentTile>
    <ParentTile></ParentTile>
    <ParentTile></ParentTile>
</div>




@code {

}
