

@*<div>
    <ParentTile></ParentTile>
    <ParentTile></ParentTile>
    <ParentTile></ParentTile>
</div>
<br />
<div>
    <ParentTile></ParentTile>
    <ParentTile></ParentTile>
    <ParentTile></ParentTile>
</div>
<br />
<div>
    <ParentTile></ParentTile>
    <ParentTile></ParentTile>
    <ParentTile></ParentTile>
</div>*@


 <tr>
            <th><ParentTile></ParentTile></th>
            <th><ParentTile></ParentTile></th>
            <th><ParentTile></ParentTile></th>
            <br>
            <th><ParentTile></ParentTile></th>
            <th><ParentTile></ParentTile></th>
            <th><ParentTile></ParentTile></th>
            <br>
            <th><ParentTile></ParentTile></th>
            <th><ParentTile></ParentTile></th>
            <th><ParentTile></ParentTile></th>          
                
        </tr>

@*<div id="container">

    <div id="leftThing">
        <ParentTile></ParentTile>
        <ParentTile></ParentTile>
        <ParentTile></ParentTile>
    </div>
    <br />
    <div id="content">
        <ParentTile></ParentTile>
        <ParentTile></ParentTile>
        <ParentTile></ParentTile>
    </div>
    <br />
    <div id="rightThing">
        <ParentTile></ParentTile>
        <ParentTile></ParentTile>
        <ParentTile></ParentTile>
    </div>

</div>*@


@code {

}
