@using Game;
<style>
    .block {
        display: flex;
        width: 35px;
        height: 35px;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-weight: bold;
        border: 3px solid black;
        transition: background 0.2s ease-in-out;
       
    }

    .block:hover {
        cursor: pointer;
        background: #FF0000;
    }

</style>
<div class="block" @onclick="Click">
    <img src="@ImageSrc"/>
</div>

@code {
    /// <summary>
    /// The designated method to run once a tile is clicked, provided by ParentTile
    /// </summary>
    [Parameter]
    public Func<int, State> Clicked { get; set; }
    /// <summary>
    /// Which tile this is supposed to represent, provided by ParentTile
    /// </summary>
    [Parameter]
    public int TileNum { get; set; }
    public string ImageSrc { get; set; } = "";
    public void Click()
    {
        State currentPlayer = Clicked(TileNum);
        if (currentPlayer == State.X)
        {
            ImageSrc = "/Images/xstate.PNG";
        }
        else if(currentPlayer == State.O)
        {
            ImageSrc = "/Images/ostate.PNG";
        }
    }
}
