@using Game;
<style>
    .parentTile {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
</style>

<div class="parentTile">
    @for (int i = 0; i < 9; i++)
    {
        <ChildTile Clicked="@ChildClicked" TileNum="i"> </ChildTile>
    }
</div>
    


@code {
    [Parameter]
    public Func<int, State> Clicked { get; set; }
    Game game { get; set; } = new Game();
    public void ChildClicked(int tileNum)
    {
        this.game.Tiles[tileNum] = Clicked(tileNum);
    }

}
