@using Game;
<style>
    .parentTile {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3,1fr);
    }
</style>

<div class="parentTile">
    @for (int i = 0; i < 9; i++)
    {
        <ChildTile Clicked="@ChildClicked" TileNum="i"> </ChildTile>
    }
</div>
    


@code {
    [Parameter]
    public Func<int, State> Clicked { get; set; }
    Game game { get; set; } = new Game();
    public State ChildClicked(int tileNum)
    {
        State currentPlayer = Clicked(tileNum);
        this.game.Tiles[tileNum] = currentPlayer;
        return currentPlayer;
    }

}
