@page "/passnplay"
@inject NavigationManager NavManager



<EditForm Model="@model">
    <label>Player One: </label>
    <div>
        <InputText id="Player1" class="form-control"
                   @bind-Value="model.Player1" />
    </div>
    <br />
    <label>Player Two: </label>
    <div>
        <InputText id="Player2" class="form-control"
                   @bind-Value="model.Player2" />
    </div>

    <br />

    <div>
        <button class="btn btn-primary" @onclick="Play">Play</button>
    </div>

</EditForm>



@code {

    Model model = new Model();
    public class Model {
        public String Player1 { get; set; }
        public String Player2 { get; set; }
    }

    public void Play(){

        NavManager.NavigateTo("/passnplaygame");

    }


}
